/* =============================================================================
                   Navigation
   ========================================================================== */
  ul.menu {
    margin:0;
    padding:0;
  }
    ul.menu li {
      display:inline;
      margin-right: 10px;
    }

      ul.menu li a {
        color:#333;
        padding:10px;
        background:#333;
        color:white;
      }
