/* =============================================================================
                   Sidebar
   ========================================================================== */
.sidebar {
  width:30%;
  float:left;
}
  .sidebar ul {
    margin:0;
    padding:0;
  }
    .sidebar ul li {
      list-style: none;
    }
